<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>this is {{ankita}}</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
   Officiis quam fugit illo voluptatum eveniet dignissimos iusto saepe. 
   Architecto reiciendis ipsum odio accusantium? Molestiae, ipsa assumenda
    consectetur aliquam voluptas dolorem commodi.</p>
    </div>
  </div>
</div>
  <hr>
<div style="text-align: center;">
<h3>Routing and Navigation</h3>
<div>
  <nav>
    <a routerLink = "/departments" routerLinkActive = "active">Departments</a><br>
    <a routerLink = "/employees" routerLinkActive = "active" >Employees</a>
    
  </nav>
  <button type="button" class="btn btn-primary">click me</button>
</div>
</div>
<router-outlet></router-outlet>